/*初始化*/

/**::-webkit-scrollbar {
	display: none
}*/
* {
 	box-sizing:border-box;
-moz-box-sizing:border-box; /* Firefox */
-webkit-box-sizing:border-box; /* Safari */
 }

/*隐藏IE的水平滚动条:*/


/*html { overflow-x: hidden; }*/


/* 设置滚动条的样式 */


/*::-webkit-scrollbar {
width:6px;

}*/


/* 滚动槽 */


/*::-webkit-scrollbar-track {
-webkit-box-shadow:inset006pxrgba(0,0,0,0.3);
border-radius:10px;
}*/


/* 滚动条滑块 */


/*::-webkit-scrollbar-thumb {
border-radius:10px;
background:rgba(0,0,0,0.1);
-webkit-box-shadow:inset006pxrgba(0,0,0,0.5);
}*/


/*不聚焦页面滚动条改变颜色*/


/*::-webkit-scrollbar-thumb:window-inactive {
background:rgba(255,0,0,0.4);
}*/

body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
	margin: 0;
	padding: 0;
}

body {
	font-family: "SimSun", "宋体", "ArialNarrow", "Microsoft YaHei", "微软雅黑", Arial, Lucida, Verdana, Helvetica, sans-serif;
	background: #fff;
	-webkit-text-size-adjust: 100%;
	font-size: 14px;
	color: #333;
}

a {
	text-decoration: none;
	color: #009BDB;
}

em,
i,
s {
	font-weight: normal;
	font-style: normal;
}

ul,
li {
	list-style: none;
}

img {
	border: none;
}

.clearfix:before,
.clearfix:after {
	clear: both;
	display: table;
	content: '';
	height: 0;
	overflow: hidden;
	visibility: hidden;
}

table {
	border-collapse: collapse;
}

input,
button {
	outline: none;
	border: 0;
}
